@model IEnumerable<ShoppingWebsiteMVC.Models.Product>

@{
    ViewBag.Title = "Products";
    Random r = new Random();

}

@if (ViewBag.Cart.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default pull-right">
                <div class="panel-body">
                    <h3>Items in cart: <span>@ViewBag.Cart.Count</span></h3>
                    @Html.ActionLink("Expand", "Expand", null, new { @class = "btn btn-default" })

                </div>

            </div>
        </div>
    </div>
}

<h1>My products</h1>



<div class="row">

    @foreach (var item in Model)
    {

        var imageName = ViewBag.Images[r.Next(1,4)];

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Name: <span>@Html.DisplayFor(modelItem => item.Name)</span></h3>
                    <img src="~/Images/@imageName" class="img-responsive" />
                    <h4><span>@Html.DisplayFor(modelItem => item.Price) USD</span></h4>
                </div>
                <div class="panel-footer clearfix">
                    @Html.ActionLink("Add to cart", "AddToCart", new { id = item.Id }, new { @class = "btn btn-success pull-right" })
                </div>
            </div>
        </div>

    }
</div>

